<h1>How can you contact me?</h1>

<div class="contactContainer">

    <div class="contactDiv">
        <span class="fa fa-phone"></span>
        <span>(720) 771-7686</span>
    </div>

    <div class="contactDiv">
        <span class="fa fa-envelope"></span>
        <span>newsommeister@gmail.com</span>
    </div>

    <div class="contactDiv">
        <span class="fa fa-linkedin-square"></span>
        <span>joshnewsom</span>
    </div>

    <div class="contactDiv">
        <span class="fa fa-github"></span>
        <span>bossjohnson</span>
    </div>

</div>
