<h1>How can you contact me?</h1>

<div class="contactContainer">

<div class="contactDiv">
    <span class="fa fa-phone"></span><span>&nbsp; &nbsp;(720) 771-7686</span>
</div>

<div class="contactDiv">
    <span class="fa fa-envelope"></span><span>&nbsp; &nbsp;newsommeister@gmail.com</span>
</div>

<div class="contactDiv">
    <span class="fa fa-linkedin-square"></span><span>&nbsp; &nbsp;joshnewsom</span>
</div>

<div class="contactDiv">
    <span class="fa fa-github"></span><span>&nbsp; &nbsp;bossjohnson</span>
</div>

</div>
