<h1>How did I create it?</h1>

<div class="techContainer">

    <div class="row">

        <div class="techDiv">
            <img src="../images/angular.png"
                alt=""
                class="techIcon">
            <span>AngularJS</span>
        </div>

        <div class="techDiv">
            <img src="../images/node.png"
                alt=""
                class="techIcon">
            <span>Node.js</span>
        </div>

    </div>

    <div class="row">


        <div class="techDiv">
            <img src="../images/postgres.png"
                alt=""
                class="techIcon">
            <span>PostgreSQL</span>
        </div>

        <div class="techDiv">
            <img src="../images/html5.png"
                alt=""
                class="techIcon">
            <span>Web Audio API</span>
        </div>

    </div>

    <div class="row">

        <div class="techDiv">
            <img src="../images/cloudinary.png"
                alt=""
                class="techIcon">
            <span>Cloudinary</span>
        </div>

        <div class="techDiv">
            <img src="../images/microsoft.png"
                alt=""
                class="techIcon">
            <span>Project Oxford</span>
        </div>

    </div>

</div>
